.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shipon{
  background-color: rgb(8, 27, 61);
  color: #ffff;
  border: 10px solid gold;
  margin: 20px;
  border-radius: 10px;
}
.hello{
 color:#fff;
 padding: 10px 20px;
 margin: 5px 10px;
 background-color: hsl(265, 84%, 59%);
 border-radius: 10px;
}
.hey{
  color: #ffff;
  padding: 10px 20px;
  margin: 5px 10px;
  background-color: blueviolet;
  border-radius: 10px;
}
